.footer {
    padding: 20px 40px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > * {
        flex: 1 1 auto;
    }


}

.footer-lists {
    display: flex;
    justify-content: space-between;
}