<section class="footer">
  <div class="footer-logo">
    <img src="../../../assets/images/logo.png" />
  </div>
  <div class="footer-lists">

    <app-footer-list [links]="links">
      <h4>Services</h4>
    </app-footer-list>

    <app-footer-list [links]="links">
      <h4>Products</h4>
    </app-footer-list>

    <app-footer-list [links]="links">
      <h4>Contact</h4>
    </app-footer-list>

    <app-footer-list [links]="links">
      <h4>Social</h4>
    </app-footer-list>
  </div>
</section>
