<section class="login-container">
  <form #loginForm="ngForm">
    <h1>Login</h1>
    <div class="form-group">
      <label class="form-label">Email</label>
      <app-email [(ngModel)]="email" #emailCtrl="ngModel" name="email" required email></app-email>
      <app-error-msg *ngIf="emailCtrl.touched && emailCtrl.invalid" message="Email is required. Email is Invalid"></app-error-msg>
    </div>
    <div class="form-group">
      <label class="form-label">Password</label>
      <app-password [(ngModel)]="password" #pswdCtrl="ngModel" name="password" required></app-password>
      <app-error-msg *ngIf="pswdCtrl.touched && pswdCtrl.invalid" message="Password is required"></app-error-msg>
    </div>
    <div class="text-right">
      <app-button [disabled]="loginForm.invalid" (btnclick)="login()">Login</app-button>
    </div>

  </form>
</section>
