<section class="login-container">
  <form [formGroup]="loginForm">
    <div class="form-group">
      <label class="form-label">Email</label>
      <app-email formControlName="email"></app-email>
    </div>
    <div class="form-group">
      <label class="form-label">Password</label>
      <app-password formControlName="password"></app-password>
    </div>
    <div class="text-right">
      <app-button [disabled]="loginForm.invalid" (btnclick)="login()">Login</app-button>
    </div>

  </form>
</section>
