<section class="subscribe">
  <div class="sub">
      <h2>So What are you waiting for?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, autem! Iusto consequuntur officia aperiam facilis animi nulla ipsa alias quae magni? Libero corrupti illo reprehenderit molestias ipsum totam quidem non!</p>
      <div class="sub-box">
          <input type="email" name="email" class="form-control email" placeholder="Email"/>
          <button class="btn btn-subscribe">Submit</button>
      </div>
    
  </div>
  
</section>