<section class="info-box">
  <div class="info">
    <h2 class="title title--bg">Secure your IT life</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, error. Magni ad eveniet expedita temporibus
      optio ducimus, possimus fugit autem non quam facilis sequi deserunt perferendis placeat voluptatibus, dolores
      delectus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat a ut ab natus velit dolores
      consequuntur quae harum consequatur mollitia perferendis quaerat praesentium, architecto soluta animi nostrum
      necessitatibus, fugiat laborum. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta adipisci
      aspernatur neque facere aperiam repellendus et nam voluptatem, officia, nobis veritatis possimus. Quo sunt fugiat
      vero fugit qui. Obcaecati, dolore?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt qui quos molestiae dolorem rem nobis quas
      tempore dolorum saepe vero, magnam facilis nulla atque tenetur quis iure mollitia aut quibusdam!</p>
  </div>

  <div class="image">
    <img src="../../../assets/images/secure your it.png" />
  </div>
</section>